[submodule "submit/libft"]
	path = submit/libft
	url = https://github.com/yusa-bot/libft
[submodule "submit-real"]
	path = submit-real
	url = git@github.com:fujiki-1emon/minishell-submission.git
[submodule "agentic-review"]
	path = agentic-review
	url = git@github.com:fujiki-1emon/agentic-review-minishell.git
